[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AMDconfigurations"]
	path = AMDconfigurations
	url = https://github.com/mmendoza1967/amdconfigurations
